{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}


{% block app_content %}
<div class="row mb-3">
    <div class="col-3">
        <label for="dataset_select">Choose dataset</label>
        <select class="form-control" id="dataset_select">
            <option selected disabled hidden style='display: none' value=''></option>
            {% for dataset in datasets %}
            <option>{{ dataset }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="alert alert-info col-4" id="alert_loading_initial_data" role="alert" style="top: 25px;" hidden>
        Getting data from server, please wait.
    </div>
</div>
<hr>
<div id="customize_columns_div">
    <p class="h5">Customize columns for visualization</p>
    <div class="form-group col-3">
        <label for="rename_table">Choose table</label>
        <select class="selectpicker form-control" data-live-search="true" id="rename_table" >
        </select>
    </div>
    <div class="row">
        <div class="col-6">
            <table id="rename_datatable" class="table table-condensed table-bordered table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Original Name</th>
                        <th>Display Name</th>
                        <th class="text-center">Hide <i class="fas fa-info-circle" data-toggle="tooltip" data-placement="top" title="Prevent this column from showing up in data visualization."></i></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <button type="button" id="submit_customization_btn" class="btn btn-primary">
                Save Customization
            </button>
        </div>
        <div class="col-4">
            <div class="alert alert-success" id="alert_save_customization" role="alert" hidden>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block app_scripts %}
<script>

var column_customization = {}
var custom_column_names = {}
var exclude_column_ids = []
var include_column_ids = []

$(document).ready(function(){
    $('.alert').alert()
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
    $(":input").attr("autocomplete","off");

    var rename_datatable = $('#rename_datatable').DataTable({
        columnDefs: [{
            className: 'text-center',
            orderable: false,
            targets: 3
        }],
        "order": []
    })
    
    $(document).on('click', '.chkRow', function () {
        // Update both an include and exclude list because I'll only be updating values, and don't want to have to keep track of old values prior to customization unecessarily

        if ($(this).prop('checked')){
            if ($.inArray($(this).val(), exclude_column_ids) == -1){
                exclude_column_ids.push($(this).val())
            }
            var index = $.inArray($(this).val(), include_column_ids);
            if (index !== -1) include_column_ids.splice(index, 1);
        }
        else {
            var index = $.inArray($(this).val(), exclude_column_ids);
            if (index !== -1) exclude_column_ids.splice(index, 1);
            if ($.inArray($(this).val(), include_column_ids) == -1){
                include_column_ids.push($(this).val())
            }
        }
    });
    
    // https://github.com/ejbeaty/CellEdit
    rename_datatable.MakeCellsEditable({
        "columns": [2],
        "onUpdate": update_custom_name,
        "inputTypes": [
            {
                "column": 2,
                "type": "text",
                "options": null
            }
        ]
    })
})

function update_custom_name(updatedCell, updatedRow, oldValue){
    table = $('#rename_table').val()
    column_id = updatedRow.data()[0]
    custom_column_names[column_id] = updatedCell.data()
}

$('#dataset_select').change(function(){
    clear_elements()
    chosen_dataset = $('#dataset_select').val()
    $('#alert_loading_initial_data').prop('hidden', false)

    send_data = {
        'chosen_dataset': chosen_dataset
    }
    $.ajax({
        type: "GET",
        url: "{{ url_for('column_customization') }}",
        data: send_data,
        dataType: "json",
        contentType: 'application/json;charset=UTF-8',
        success: function(return_data){
            column_customization = return_data
            $.each(column_customization, function(table, column){
                append_option(table, table, $('#rename_table'))
            })
            $('#rename_table').selectpicker('refresh')
            $('#alert_loading_initial_data').prop('hidden', true)
        }
    })
})

$('#rename_table').on('change', function(){
    $('#alert_save_customization').prop('hidden', true)
    table = $(this).val()
    rename_datatable = $('#rename_datatable').DataTable()
    rename_datatable.clear().draw()
    $.each(column_customization[table], function(){
        column_id = this['column_id']
        if ($.inArray(String(column_id), exclude_column_ids) != -1){
            checked_flag == 'checked'
        }
        else if ($.inArray(String(column_id), include_column_ids) != -1) {
            checked_flag == ''
        }
        else if (this['visible'] == true){
            checked_flag = ''
        }
        else {
            checked_flag = 'checked'
        }

        column_custom_name = custom_column_names[column_id]
        if (column_custom_name == undefined){
            column_custom_name = this['column_custom_name']
        }
                
        rename_datatable.row.add([
            this['column_id'],
            this['column_source_name'],
            column_custom_name,
            '<div class="form-check"><input type="checkbox" class="chkRow form-check-input" value=' + this['column_id'] +' ' + checked_flag + '></input></div>'
        ]).draw(false)
    })
})

$('#submit_customization_btn').on('click', function(){
    $('#alert_save_customization').prop('hidden', true)
    
    $.ajax({
        type: "PUT",
        url: "{{ url_for('column_customization') }}",
        data: JSON.stringify({'custom_column_names': custom_column_names, 'exclude_column_ids': exclude_column_ids, 'include_column_ids': include_column_ids}),
        dataType: "json",
        contentType: 'application/json;charset=UTF-8',
        success: function(return_data){
            $('#alert_save_customization').prop('hidden', false)
            if (return_data == true){
                $('#alert_save_customization').prop('class', 'alert alert-success')
                $('#alert_save_customization').text('Customization saved successfully')
            }
            else {
                $('#alert_save_customization').prop('class', 'alert alert-danger')
                $('#alert_save_customization').text('An error occured - check logs')
            }
        }
    })
    
})

function clear_elements(){
    $('#rename_table').html("<option selected disabled hidden style='display: none' value=''></option>")
    $('#rename_datatable').DataTable().clear().draw()
    $('#rename_table').selectpicker('refresh')
    $('#alert_save_customization').prop('hidden', true)

    column_customization = {}
    custom_column_names = {}
    exclude_column_ids = []
    include_column_ids = []
}

function append_option(val, text, element_to_append_to){
    new_option = $('<option />', {
        val: val,
        text: text
    })
    element_to_append_to.append(new_option.clone())
}

</script>

{% endblock %}