{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}


{% block app_content %}
<div class="row mb-3">
    <div class="col-3">
        <label for="dataset_select">Choose dataset</label>
        <select class="form-control" id="dataset_select">
            <option selected disabled hidden style='display: none' value=''></option>
            {% for dataset in datasets %}
            <option>{{ dataset }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="alert alert-info col-4" id="alert_loading_initial_data" role="alert" style="top: 25px;" hidden>
        Getting data from server, please wait.
    </div>
</div>
<hr>
<div id="customize_columns_div" hidden>
    <p class="h5">Customize columns for visualization</p>
    <div class="form-group col-3">
        <label for="rename_table">Choose table</label>
        <select class="selectpicker form-control" data-live-search="true" id="rename_table" >
        </select>
    </div>
    <div class="row">
        <div class="col-6">
            <table id="rename_datatable" class="table table-condensed table-bordered table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Original Name</th>
                        <th>Display Name</th>
                        <th class="text-center">Hide <i class="fas fa-info-circle" data-toggle="tooltip" data-placement="top" title="Prevent this column from showing up in data visualization."></i></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <button type="button" id="submit_customization_btn" class="btn btn-primary">
                Save Customization
            </button>
        </div>
        <div class="col-4">
            <div class="alert alert-success" id="alert_save_customization" role="alert" hidden>
                Customization successfully submitted!
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block app_scripts %}
<script>

var exclude_columns_ids = []
var custom_column_names_dict = {}

$(document).ready(function(){
    $('.alert').alert()
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
    $(":input").attr("autocomplete","off");

    var rename_datatable = $('#rename_datatable').DataTable({
        columnDefs: [{
            className: 'text-center',
            orderable: false,
            targets: 3
        }],
        "order": []
    })
    
    $(document).on('click', '.chkRow', function () {
        if ($(this).prop('checked')){
            if ($.inArray($(this).val(), exclude_columns_ids) == -1){
                exclude_columns_ids.push($(this).val())
            }
        }
        else {
            var index = $.inArray($(this).val(), exclude_columns_ids);
            if (index !== -1) exclude_columns_ids.splice(index, 1);
        }
    });
    
    // https://github.com/ejbeaty/CellEdit
    rename_datatable.MakeCellsEditable({
        "columns": [2],
        "onUpdate": update_custom_name,
        "inputTypes": [
            {
                "column": 2,
                "type": "text",
                "options": null
            }
        ]
    })
})

function update_custom_name(updatedCell, updatedRow, oldValue){
    table = $('#rename_table').val()
    column_id = updatedRow.data()[1]
    custom_column_names_dict[column_id] = updatedCell.data()
}

// FIX THIS
$('#dataset_select').change(function(){
    clear_elements()
    chosen_dataset = $('#dataset_select').val()
    $('#alert_loading_initial_data').prop('hidden', false)

    send_data = {
        'chosen_dataset': chosen_dataset
    }
    $.ajax({
        type: "GET",
        url: "{{ url_for('get_custom_column_data') }}",
        data: send_data,
        dataType: "json",
        contentType: 'application/json;charset=UTF-8',
        success: function(return_data){
            $.each(return_data.custom_column_names, function(table, column_rename_dict) {
                $.each(column_rename_dict, function(column, new_name){
                    idx = get_col_idx(table, column)
                    custom_column_names_dict[idx] = new_name
                })
            })

            $.each(return_data.exclude_columns, function(table, columns){
                $.each(columns, function(){
                    idx = get_col_idx(table, this.toString())
                    if ($.inArray(idx, exclude_column_ids) == -1){
                        exclude_column_ids.push(idx)
                    }
                })
            })

            $('#alert_loading_initial_data').prop('hidden', true)
        }
    })
})

$('#rename_table').on('change', function(){
    $('#alert_save_customization').prop('hidden', true)
    table = $(this).val()
    rename_datatable = $('#rename_datatable').DataTable()
    rename_datatable.clear().draw()
    $.each(table_columns[table], function(){
        idx = get_col_idx(table, this.toString())
        if (idx != -1){
            if (idx in custom_column_names_dict){
                display_name = custom_column_names_dict[idx]
            }
            else{
                display_name = struct_display_names[idx]
            }

            if ($.inArray(idx,exclude_columns_ids) == -1) {
                checked_flag = ''
            }
            else {
                checked_flag = 'checked'
            }

            rename_datatable.row.add([
                this,
                display_name,
                '<div class="form-check"><input type="checkbox" class="chkRow form-check-input" value=' + idx +' ' + checked_flag + '></input></div>'
            ]).draw(false)
        }
    })
})

$('#submit_customization_btn').on('click', function(){
    $('#alert_save_customization').prop('hidden', true)
    // get all table/columns associated with each item in custom_column_names_dicts
    $.each(custom_column_names_dict, function(idx, new_name){
        column_link = column_links[idx]
        $.each(column_link, function(table, column){
            if (!(table in config_dict['custom_column_names'])){
                config_dict['custom_column_names'][table] = {}
            }
            config_dict['custom_column_names'][table][column] = new_name
        })
    })

    config_dict['exclude_columns'] = {}
    $.each(exclude_column_ids, function(){
        column_link = column_links[this]
        $.each(column_link, function(table, column){
            if (!(table in config_dict['exclude_columns'])){
                config_dict['exclude_columns'][table] = []
            }
            config_dict['exclude_columns'][table].push(column)
        })
    })

    $.ajax({
        type: "POST",
        url: "{{ url_for('submit_config_dict') }}",
        data: JSON.stringify(send_data),
        dataType: "json",
        contentType: 'application/json;charset=UTF-8',
        success: function(return_data){
            $('#alert_save_customization').prop('hidden', false)
        }
    })
})

function clear_elements(){
    $('#rename_table').html("<option selected disabled hidden style='display: none' value=''></option>")
    $('#rename_datatable').DataTable().clear().draw()
    $('#rename_table').selectpicker('refresh')
    $('#alert_save_customization').prop('hidden', true)

    exclude_columns_ids = []
    custom_column_names_dict = {}
}

</script>

{% endblock %}