{% extends "base.html" %}

{% block app_content %}
<p class="lead">Optimized for Google Chrome</p>
<div class="row">
    <div class="card col-4">
        <div class="card-body">
            <div class="form-group">
                <label for="dataset_select" >Choose dataset</label>
                <select class="form-control" id="dataset_select">
                    <option selected disabled hidden style='display: none' value=''></option>
                    {% for dataset in datasets %}
                    <option>{{ dataset}}</option>
                    {% endfor %}
                </select>
            </div>

            <label for="ind_variables">Cohort variables</label>
            <div class="form-row">
                <div class="form-group col-9">
                    <select class="selectpicker form-control" multiple id="ind_variables" data-live-search="true" title="Choose up to 3..." data-max-options="3"></select>
                </div>
            </div>

            <label for="outcome_variable">Outcome</label>
            <div class="form-row">
                <div class="form-group col-9">
                    <select class="selectpicker form-control show-tick" id="outcome_variable" data-live-search="true"></select>
                </div>
            </div>
            <div class="form-row col">
                <div class="form-group col">
                    <button type="button" class="btn btn-primary" id="update_graph_btn">Update Graph</button>
                </div>
                <div class="form-group col">
                    <button type="button" class="btn btn-primary" id="clear_btn">Clear</button>
                </div>
            </div>
        </div>
    </div>
    {% for n in range(4) %}
        <div class="col-2">
            <div class="card" style="height: 100%" id="c{{n+1}}">
                <h6 class="card-header" id="ch{{n+1}}"></h5>
                <div class="card-body" id="cb{{n+1}}">
                    {% if n == 3 %}
                        <div id="distribution_choices_text_div" style="display: none;">
                        {% for distribution_choice in distribution_choices["DISCRETE"]%}
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="distribution_choice" id="distribution_choice_text_{{loop.index}}" value="{{distribution_choice}}">
                                <label class="form-check-label" for="distribution_choice_text_{{loop.index}}">{{ distribution_choice }}</label>
                            </div>
                        {% endfor %}
                        </div>
                        <div id="distribution_choices_numeric_div" style="display: none;">
                        {% for distribution_choice in distribution_choices["CONTINUOUS"]%}
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="distribution_choice" id="distribution_choice_numeric_{{loop.index}}" value="{{distribution_choice}}" >
                                <label class="form-check-label" for="distribution_choice_numeric_{{loop.index}}">{{ distribution_choice }}</label>
                            </div>
                        {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}

</div>
<canvas id="graph"></canvas>
{% endblock %}

{% block app_scripts %}
<script>
    var myChart
    var ordered_groupby_column_ids = []
    var column_links
    var chosen_dataset

    c1 = {'column_id': -1, 'type': null}
    c2 = {'column_id': -1, 'type': null}
    c3 = {'column_id': -1, 'type': null}
    c_outcome = {'column_id': -1, 'type': null}


    $('#dataset_select').change(function(){
        chosen_dataset = $(this).val()
        get_table_column_data()
    })

    $('#ind_variables').on('changed.bs.select', function(e, clickedIndex, isSelected, previousValue){
        chosen_option = $(this).find('option').eq(clickedIndex)
        column_id = chosen_option.val()
        column_name = chosen_option.text()
        
        if(isSelected){
            send_data = {
                'column_id': column_id
            }
            make_ajax_call(type="GET", url="{{ url_for('get_column_info') }}", onSuccess=function(return_data){
                if (c1['column_id'] == -1){
                    card_num = 1
                    c1['column_id'] = column_id
                    c1['type'] = return_data.type
                }
                else if (c2['column_id'] == -1){
                    card_num = 2
                    c2['column_id'] = column_id
                    c2['type'] = return_data.type
                }
                else if (c3['column_id'] == -1){
                    card_num = 3
                    c3['column_id'] = column_id
                    c3['type'] = return_data.type
                }
                
                $('#ch' + card_num).text(column_name)
                $('#cb' + card_num).html('<h6>Include: </h6>')

                if ((return_data.type == 'DISCRETE') | (return_data.type == 'BOOLEAN')){
                    multiselect = $('<select class="form-control" multiple size=10 style="overflow-x: auto; font-size: 14px;" id=cfilter' + card_num + '>')
                    $.each(return_data.possible_vals, function(){
                        append_option(this, this, multiselect, selected=true, table_row=true)
                    })
                    multiselect.append($('</select>'))

                    $('#cb' + card_num).append(multiselect)
                }
                else if (return_data.type == 'CONTINUOUS') {
                    card_body = $('<div class="row"><div class="col-5" style="padding: 0px;"><input type="text" class="form-control form-control-sm" id="min' + card_num +'" value=' + return_data.min + ' style="text-align: center;"></div><div class="col" style="padding: 0px;"></div><div class="col-5" style="padding: 0px;"><input type="text" class="form-control form-control-sm" id="max' + card_num + '" value=' + return_data.max + '  style="text-align: center;"></div></div><div class="row mt-2"></div><input type="text" class="js-range-slider" value="" id="slider' + card_num + '"/>')
                    $('#cb' + card_num).append(card_body)

                    if (card_num == 1){
                        slider_obj = $('#slider1')
                        min_obj = $('#min1')
                        max_obj = $('#max1')
                    }
                    else if (card_num == 2){
                        slider_obj = $('#slider2')
                        min_obj = $('#min2')
                        max_obj = $('#max2')
                    }
                    else if (card_num == 3){
                        slider_obj = $('#slider3')
                        min_obj = $('#min3')
                        max_obj = $('#max3')
                    }
                    
                    step_amt = (return_data.max - return_data.min)/100
                    if (step_amt > 1){
                        step_amt = Math.round(step_amt)
                    }

                    slider_obj.ionRangeSlider({
                        type: 'double',
                        grid: true,
                        min: return_data.min,
                        max: return_data.max,
                        step: step_amt,
                        skin: 'sharp'
                    })

                    min_obj.on('change', function(){
                        slider_obj.data('ionRangeSlider').update({
                            from: $(this).val()
                        })
                    })

                    max_obj.on('change', function(){
                        slider_obj.data('ionRangeSlider').update({
                            to: $(this).val()
                        })
                    })

                    slider_obj.on('change', function(){
                        new_min = $(this).data('from')
                        new_max = $(this).data('to')
                        min_obj.val(new_min)
                        max_obj.val(new_max)
                    })

                    split_div = $('<div class="row mt-3"><label for="divide' + card_num + '" class="col col-form-label d-flex align-items-center" style="font-size: 14px;">Divide range into</label></div><div class="row"><div class="col-6" style="padding-right: 0px;"><input type="number" id="divide' + card_num + '" class="form-control" value=1 min=1 max=20></div><div class="col-6 d-flex align-items-center">parts</div></div></div>')
                    $('#cb' + card_num).append(split_div)
                }

                filter_dropdown_items()  // have to include this in AJAX call
            })
        }
        else {
            if (c1['column_id'] == column_id){
                card_num = 1
                c1 = {'column_id': -1, 'type': null}
            }
            else if (c2['column_id'] == column_id){
                card_num = 2
                c2 = {'column_id': -1, 'type': null}
            }
            else if (c3['column_id'] == column_id){
                card_num = 3
                c3 = {'column_id': -1, 'type': null}
            }
            $('#ch' + card_num).text('')
            $('#cb' + card_num).html('')
            filter_dropdown_items()
        }
    })

    $('#outcome_variable').change(function() {
        if (($(this).val() == '') || ($(this).val() == null)){
            $('.form-check-input').prop('checked', false)
            $('#distribution_choices_text_div').attr('style', 'display: none;')
            $('#distribution_choices_numeric_div').attr('style', 'display: none;')
            $('#ch4').text('')
            c_outcome = {'column_id': -1, 'type': null}
            
            filter_dropdown_items()
        }
        else{
            column_id = $(this).val()
            send_data = {
                'chosen_dataset': chosen_dataset,
                'column_id': column_id
            }
            column_name = $(this).find('[value=' + column_id + ']').text()
            $('#ch4').text(column_name)
        
            make_ajax_call(type="GET", url="{{ url_for('get_column_info') }}", onSuccess=function(return_data){
                c_outcome = {'column_id': column_id, 'type': return_data.type}

                if (return_data.type == 'DISCRETE') {
                    $('#distribution_choices_text_div').attr('style', '')
                    $('#distribution_choices_numeric_div').attr('style', 'display: none;')
                    $('#distribution_choice_text_1').prop('checked', true)
                }
                else if (return_data.type == 'CONTINUOUS'){
                    $('#distribution_choices_numeric_div').attr('style', '')
                    $('#distribution_choices_text_div').attr('style', 'display: none;')
                    $('#distribution_choice_numeric_1').prop('checked', true)
                }
                filter_dropdown_items()

            })
        }
        
    })

    $('#clear_btn').on('click', function(){
        $('#outcome_variable').selectpicker('val', '')
        card_num = 1
        $('#ch1').text('')
        $('#cb1').html('')
        $('#ch2').text('')
        $('#cb2').html('')
        $('#ch3').text('')
        $('#cb3').html('')
        $('.form-check-input').prop('checked', false)
        $('#distribution_choices_text_div').attr('style', 'display: none;')
        $('#distribution_choices_numeric_div').attr('style', 'display: none;')   
        c_outcome = {'column_id': -1, 'type': null}
        $('#ch4').text('') 
        c1 = {'column_id': -1, 'type': null}
        c2 = {'column_id': -1, 'type': null}
        c3 = {'column_id': -1, 'type': null}
        $('#ind_variables').selectpicker('val', '')
        var graph = $('#graph');
        if (myChart){myChart.destroy()}

    })

    function get_table_column_data(){
        send_data = {
            'chosen_dataset': chosen_dataset
        }
        $.ajax({
            type: "GET",
            url: "{{ url_for('get_table_columns') }}",
            data: send_data,
            dataType: "json",
            contentType: 'application/json;charset=UTF-8',
            success: function(return_data){
                clear_dropdowns()

                // Dictionary of {table: [{'column_id': 2, 'column_custom_name': 'asdf'}, {'column_id': 1, 'column_custom_name': 'fdsa'}]}

                $.each(return_data, function(table, column_data) {
                    new_optgroup = $('<optgroup label="' + table + '"/>"')
                    $.each(column_data, function(){
                        append_option(this['column_id'], this['column_custom_name'], new_optgroup)
                    })
                    new_optgroup.append('</optgroup>')
                    $('#ind_variables').append(new_optgroup.clone())
                    $('#outcome_variable').append(new_optgroup.clone())
                })
                $('#ind_variables').selectpicker('refresh');
                $('#outcome_variable').selectpicker('refresh');                
            }
        })
    }

    $('#update_graph_btn').on('click', function(){
        filters = {}
        $.each([1, 2, 3], function(){
            if (this == 1){
                c_info = c1
            }
            else if (this == 2){
                c_info = c2
            }
            else if (this == 3){
                c_info = c3
            }

            if (c_info['column_id'] != -1){
                if (c_info['type'] == 'DISCRETE'){
                    filter_info = {'type': 'list', 'filter': []}
                    $.each($('#cfilter' + this).find('option'), function(){
                        if ($(this).prop('selected')){
                            filter_info['filter'].push($(this).text())
                        }
                    })
                    filters[c_info['column_id']] = filter_info
                }
                else if (c_info['type'] == 'BOOLEAN'){
                    filter_info = {'type': 'bool', 'filter': []}
                    $.each($('#cfilter' + this).find('option'), function(){
                        if ($(this).prop('selected')){
                            filter_info['filter'].push($(this).text())
                        }
                    })
                    filters[c_info['column_id']] = filter_info
                }
                else if (c_info['type'] == 'CONTINUOUS'){
                    filters[c_info['column_id']] = {'type': 'range', 'filter': {'min': $('#slider' + this).data().from, 'max': $('#slider' + this).data().to, 'bins': $('#divide' + this).val()}}
                }                
                
            }
        })
        current_column_ids = get_column_ids()
        ordered_groupby_column_ids = current_column_ids['ordered_groupby_column_ids']
        selected_outcome_var_column_id = current_column_ids['selected_outcome_var_column_id']


        aggregate_fxn = $("input[name='distribution_choice']:checked").val()
        if (aggregate_fxn == null){
            aggregate_fxn = 'Count'
        }

        send_data = {
            'chosen_dataset': chosen_dataset,
            'chosen_ind_column_ids': ordered_groupby_column_ids,
            'chosen_outcome_column_id': selected_outcome_var_column_id,
            'aggregate_fxn': aggregate_fxn,
            'filters': JSON.stringify(filters)
        }
        
        $.ajax({
            type: "GET",
            url: "{{ url_for('get_graph_data') }}",
            data: send_data,
            dataType: "json",
            contentType: 'application/json;charset=UTF-8',
            success: function(return_data){
                var graph = $('#graph');
                if (myChart){myChart.destroy()}

                min_y = null
                max_y = null

                $.each(return_data.datasets, function(){
                    $.each(this['data'], function(){
                        if (min_y == null){
                            min_y = this
                        }
                        else{
                            min_y = Math.min(this, min_y)
                        }
                        if (max_y == null){
                            max_y = this
                        }
                        else{
                            max_y = Math.max(this, max_y)
                        }
                    })
                })
                range = max_y - min_y
                if (range == 0){
                    upper = max_y + 1
                    lower = min_y - 1
                }
                else{
                    upper = max_y + (0.25 * range)
                    lower = Math.max(0, min_y - (0.25 * range))
                }

                myChart = new Chart(graph, {
                    type: 'bar',
                    data: {
                        labels: return_data.labels,
                        datasets: return_data.datasets
                    },
                    options: {
                        plugins: {
                            colorschemes: {
                                scheme: 'tableau.ColorBlind10'
                            }
                        },
                        spanGaps: true,  // handle null data
                        title: {
                            display: true,
                            text: return_data.title
                        },
                        scales: {
                            xAxes: [{
                                scaleLabel: {
                                    display: true,
                                    labelString: return_data.xaxis_label
                                }
                            }],
                            yAxes: [{
                                scaleLabel: {
                                    display: true,
                                    labelString: return_data.yaxis_label
                                },
                                ticks: {
                                    min: lower,
                                    max: upper
                                }
                            }]
                        }
                    }
                })
            }
        })
    })

    function get_column_ids(){
        ordered_groupby_column_ids = []
        $.each([c1, c2, c3], function(){
            if (this['column_id'] != -1){
                ordered_groupby_column_ids.push(this['column_id'])
            }
        })
        if (c_outcome['column_id'] != -1) {
            selected_outcome_var_column_id = c_outcome['column_id']
        }
        else{
            selected_outcome_var_column_id = null
        }
        return {'ordered_groupby_column_ids': ordered_groupby_column_ids, 'selected_outcome_var_column_id': selected_outcome_var_column_id}
    }

    function filter_dropdown_items(){
        current_column_ids = get_column_ids()
        ordered_groupby_column_ids = current_column_ids['ordered_groupby_column_ids']
        selected_outcome_var_column_id = current_column_ids['selected_outcome_var_column_id']
        send_data = {
            'chosen_ind_column_ids': ordered_groupby_column_ids,
            'chosen_outcome_column_id': selected_outcome_var_column_id,
            'chosen_dataset': chosen_dataset
        }
        make_ajax_call(type="GET", url="{{ url_for('get_accessible_tables') }}", onSuccess=function(return_data){
            $.each(return_data, function(table, is_accessible) {
                $('#ind_variables').find("optgroup[label='" + table + "']").prop('disabled', !is_accessible)
                $('#outcome_variable').find("optgroup[label='" + table + "']").prop('disabled', !is_accessible)
            })
            $('#ind_variables').selectpicker('refresh')
            $('#outcome_variable').selectpicker('refresh')
        })
    }

    function clear_dropdowns(){
        $('#ind_variables').html("")
        $('#outcome_variable').html("<option selected disabled hidden style='display: none' value=''></option>")
        ordered_groupby_column_ids = []
        if (myChart){myChart.destroy()}
    }

    function populate_dropdowns(){
        
    }

    function get_col_column_id(table, column){
        return_column_id = -1
        $.each(column_links, function(column_id, table_links){
            $.each(table_links, function(table_existing, column_existing){
                if (table_existing == table && column_existing == column){
                    return_column_id = column_id
                    return
                }
            })
        })
        return return_column_id
    }

    function append_option(val, text, element_to_append_to, selected, table_row){
        if (!selected) selected = false;
        if (!table_row) table_row = false;
        
        if (table_row){
            style = "display: table-row;"
        }
        else{
            style = ""
        }
        new_option = $('<option />', {
            val: val,
            text: text,
            selected: selected,
            style: style
        })
        element_to_append_to.append(new_option.clone())
    }
</script>

{% endblock %}
