{% extends "base.html" %}

{% block app_content %}
<div class="card col-4">
    <div class="card-body">
        <div class="form-group">
            <label for="dataset_select" >Choose dataset</label>
            <select class="form-control" id="dataset_select">
                <option selected disabled hidden style='display: none' value=''></option>
                {% for dataset in datasets %}
                <option>{{ dataset}}</option>
                {% endfor %}
            </select>
        </div>

        <label for="ind_variables">Cohort variables</label>
        <div class="form-row">
            <div class="form-group col-9">
                <select class="selectpicker form-control" multiple id="ind_variables" data-live-search="true" title="Choose up to 3..." data-max-options="3"></select>
            </div>
            <div class="form-group col-3">
                <button type="button" class="btn btn-primary" id="add_ind_variable_btn">Add</button>
            </div>
        </div>

        <label for="outcome_variable">Outcome</label>
        <div class="form-row">
            <div class="form-group col-9">
                <select class="selectpicker form-control show-tick" id="outcome_variable" data-live-search="true"></select>
            </div>
            <div class="form-group col-3">
                <button type="button" class="btn btn-primary" id="clear_outcome_btn">Clear</button>
            </div>
        </div>
        <div class="form-row" id="distribution_choice_row">
            {% for distribution_choice in distribution_choices %}
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="distribution_choice" id="distribution_choice_{{loop.index}}" value="{{distribution_choice}}" {% if loop.index == 1 %} checked="checked" {% endif %} disabled>
                    <label class="form-check-label" for="distribution_choice_{{loop.index}}">{{ distribution_choice }}</label>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<canvas id="graph"></canvas>
{% endblock %}

{% block app_scripts %}
<script>
    var myChart
    var ordered_groupby_idxs = []
    var table_columns
    var column_display_names
    var column_links
    var chosen_dataset
    var exclude_columns

    $('#dataset_select').change(function(){
        chosen_dataset = $(this).val()
        get_table_column_data()
    })

    $('#ind_variables').on('changed.bs.select', function(e, clickedIndex, isSelected, previousValue){
        clicked_value = $(this).find('option').eq(clickedIndex).val()
        if(isSelected){
            ordered_groupby_idxs.push(clicked_value)
        }
        else{
            var index = ordered_groupby_idxs.indexOf(clicked_value);
            ordered_groupby_idxs.splice(index, 1);
        }
        get_dropdown_items(with_result='filter')
        update_graph()
    })

    $('#outcome_variable').change(function(){
        if ($(this).val() == ''){
            $('#distribution_choice_1').prop('checked', true)
            $('#distribution_choice_row input:radio').attr('disabled', true)
        }
        else {
            $('#distribution_choice_row input:radio').attr('disabled', false)
        }
        get_dropdown_items(with_result='filter')
        update_graph()
    })

    $('#distribution_choice_row').change(function(){
        update_graph()
    })

    function get_table_column_data(){
        send_data = {
            'chosen_dataset': chosen_dataset
        }
        $.ajax({
            type: "GET",
            url: "{{ url_for('get_table_columns') }}",
            data: send_data,
            dataType: "json",
            contentType: 'application/json;charset=UTF-8',
            success: function(return_data){
                table_columns = return_data.table_columns
                column_display_names = return_data.column_display_names
                column_links = return_data.column_links
                exclude_columns = return_data.exclude_columns
                populate_dropdowns()
            }
        })
    }

    function update_graph(){
        selected_outcome_var_idx = $('#outcome_variable').val()
        send_data = {
            'chosen_dataset': chosen_dataset,
            'chosen_ind_idxs': ordered_groupby_idxs,
            'chosen_outcome_idx': selected_outcome_var_idx,
            'aggregate_fxn': $("input[name='distribution_choice']:checked").val()
        }
        $.ajax({
            type: "GET",
            url: "{{ url_for('get_graph_data') }}",
            data: send_data,
            dataType: "json",
            contentType: 'application/json;charset=UTF-8',
            success: function(return_data){
                var graph = $('#graph');
                if (myChart){myChart.destroy()}
                myChart = new Chart(graph, {
                    type: 'bar',
                    data: {
                        labels: return_data.labels,
                        datasets: return_data.datasets
                    },
                    options: {
                        plugins: {
                            colorschemes: {
                                scheme: 'tableau.ColorBlind10'
                            }
                        },
                        spanGaps: true,  // handle null data
                        title: {
                            display: true,
                            text: return_data.title
                        },
                        scales: {
                            xAxes: [{
                                scaleLabel: {
                                    display: true,
                                    labelString: return_data.xaxis_label
                                }
                            }],
                            yAxes: [{
                                scaleLabel: {
                                    display: true,
                                    labelString: return_data.yaxis_label
                                }
                            }]
                        }
                    }
                })
            }
        })
    }

    function get_dropdown_items(with_result){
        selected_outcome_var_idx = $('#outcome_variable').val()
        send_data = {
            'chosen_dataset': chosen_dataset,
            'chosen_ind_idxs': ordered_groupby_idxs,
            'chosen_outcome_idx': selected_outcome_var_idx
        }
        $.ajax({
            type: "GET",
            url: "{{ url_for('get_accessible_variables') }}",
            data: send_data,
            dataType: "json",
            contentType: 'application/json;charset=UTF-8',
            success: function(return_data){
                if (with_result == 'populate'){
                    populate_dropdowns(return_data.accessible_columns_list)
                }
                else if (with_result == 'filter'){
                    filter_dropdowns(return_data.accessible_columns_list)
                }
            }
        })
    }

    function clear_dropdowns(){
        $('#ind_variables').html("")
        $('#outcome_variable').html("<option selected disabled hidden style='display: none' value=''></option>")
        ordered_groupby_idxs = []
        if (myChart){myChart.destroy()}
    }

    function populate_dropdowns(){
        clear_dropdowns()

        // Each element is essentially a tuple of (idx, column_name)
        $.each(table_columns, function(table, columns) {
            new_optgroup = $('<optgroup label="' + table + '"/>')
            $.each(columns, function(){
                if ($.inArray(this.toString(), exclude_columns[table]) == -1){
                    idx = get_col_idx(table, this.toString())
                    append_option(idx, column_display_names[idx], new_optgroup)
                }
            })
            new_optgroup.append('</optgroup>')
            $('#ind_variables').append(new_optgroup.clone())
            $('#outcome_variable').append(new_optgroup.clone())

        })
        $('#ind_variables').selectpicker('refresh');
        $('#outcome_variable').selectpicker('refresh');
    }

    function filter_dropdowns(list_of_idx_name_pairs){
        $.each(list_of_idx_name_pairs, function(){
            $('#ind_variables').find('[value=' + this[0]+']').prop('disabled', !this[2])
            $('#outcome_variable').find('[value=' + this[0]+']').prop('disabled', !this[2])
            
        })
        $('#ind_variables').selectpicker('refresh')
        $('#outcome_variable').selectpicker('refresh')
    }

    function get_col_idx(table, column){
        return_idx = -1
        $.each(column_links, function(idx, table_links){
            $.each(table_links, function(table_existing, column_existing){
                if (table_existing == table && column_existing == column){
                    return_idx = idx
                    return
                }
            })
        })
        return return_idx
    }

    function append_option(val, text, element_to_append_to){
    new_option = $('<option />', {
        val: val,
        text: text
    })
    element_to_append_to.append(new_option.clone())
}
</script>

{% endblock %}